* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 { font-size: 3.5em; } 
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
h4 { font-size: 1.2em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.5em; }
p { font-size: 1.25em; }

.container {
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 24px;
    color: #a7c957;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 16px;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
}

nav a:hover {
    color: #a7c957;
    text-decoration: underline;
}

nav ion-icon {
    font-size: 20px;
    margin-left: 10px;
    color: #4f772d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#inicio {
    background-color: #faf6ef; 
    /*background-image: url('media/inputPhone.svg'); */
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-size: 200px auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
}


#inicio .texto {
    flex-basis: 50%;
}

#inicio .texto h1 {
    font-size: 32px;
    color: #a7c957;
    margin-bottom: 10px;
}

#inicio .texto p {
    font-size: 18px;
    color: #f79824;
    margin-bottom: 20px;
}

#inicio img {
    max-width: 100%;  
    height: auto; 
}


#inicio button {
    padding: 10px 20px;
    background-color: #a7c957;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#inicio button:hover {
    background-color: #45a049;
}

.busqueda {
    display: flex; 
    border: 2px solid #fdca40; 
    border-radius: 25px; 
    overflow: hidden;
    margin-top:50px;
    max-width: 30em;
}

.busqueda input[type="text"] {
    flex-grow: 1; 
    border: none;
    padding: 0 10px;
    font-size: 16px; 
    outline: none; 
}

.busqueda button {
    background-color: #4CAF50;
    color: white; 
    cursor: pointer;
    border-radius: 25px; 
}

.busqueda button:hover {
    background-color: #45a049;
}



#tienda {
    background-color: #fff;
    padding: 20px 0; 
    display: flex;
    justify-content: center; 
}

.cardBox {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    max-width: 1200px; 
    flex-wrap: wrap; 
}

.card {
    background-color: #edede9; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 10px; 
    width: 250px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.iconBX {
    font-size: 48px; 
    color: white;
    width: 80px; 
    height: 80px; 
    background-color: #ffa500; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}

.numbers {
    font-size: 18px; 
    color: #333; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.cardName {
    font-size: 14px; 
    color: #666; 
}


#productos .container1 .titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
} 

#productos .container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#productos .titulo h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-right: 50px;
}

#productos .titulo nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#productos .titulo nav a {
    background-color: #f4f4f4;
    color: #333;
    padding: 8px 16px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

#productos .titulo nav a:hover {
    background-color: #ffa500;
    text-decoration: none;
    color: white;
}

#productos .cardBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
}

#productos .caja .card2 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(35%-40px);
    
}

#productos .caja .card2 img {
    width: 13em;
    height: 10em;
    object-fit: cover;
    border-radius: 5px;
}

#productos .caja .contenido .texto {
    text-align: center;
    padding: 10px 0;
}

#productos .caja .contenido .texto h4 {
    margin-bottom: 5px;
    color: #333;
}

#productos .caja .contenido .texto p {
    color: #666;
    font-size: 14px;
}

#productos .caja .contenido p {
    color: #333;
    margin: 10px 0;
    font-size: 1em;
}

.cart{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

#productos .caja .contenido .cart button {
    background-color: #fff;
    color: #4CAF50;
    border: 2px solid #fdca40; 
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#productos .caja .contenido .cart button:hover {
    background-color: #45a049;
    color: white;
}


footer{
    background-color: black;
}

footer  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#f4f4f4;
    text-align: center;
    padding:10px;
    gap: 5px;
    font-size: 1em;
}


@media (max-width: 768px) {


    .container, #productos .container1 {
        flex-direction: column;
        padding: 15px;
    }

    header nav, #productos .titulo nav {
        flex-direction: column;
        align-items: center;
    }

    #inicio img {
        display: none;
    }
    
    .dropdown-content {
        position: static;
        display: block;
        box-shadow: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    #inicio, #tienda, #productos {
        padding: 20px 10px;
    }

    #inicio .texto, #inicio img {
        width: 100%;
        text-align: center;
    }

    .busqueda, .cardBox, .caja {
        width: 100%;
    }

    .card {
        width: calc(50% - 20px); 
    }

    #productos .cardBox {
        grid-template-columns: repeat(2, 1fr); 
    }

    footer .container {
        flex-direction: row;
        justify-content: space-around;
    }

    footer .img {
        flex-direction: column;
    }
}


@media (max-width: 480px) {

    .container, #productos .container1 {
        flex-direction: column;
        padding: 10px;
    }

    header {
        padding: 10px 5px;
    }

    header h1 {
        font-size: 1.8em; 
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a, .dropdown-content a {
        display: block;
        text-align: center; 
    }

    #inicio, #tienda, #productos {
        padding: 15px 5px;
    }

    #inicio .texto, #inicio img {
        width: 100%;
        text-align: center;
    }

    .busqueda {
        flex-direction: column;
    }

    .busqueda input[type="text"], .busqueda button {
        width: 100%;
    }

    .busqueda button {
        margin-top: 10px; 
    }

    .cardBox, .caja {
        width: 100%;
    }

    .card, #productos .caja .card2 {
        width: 100%; 
        margin-bottom: 20px; 
    }

    #productos .cardBox {
        grid-template-columns: 1fr; 
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .img {
        flex-direction: column;
    }
}



