* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 { font-size: 3.5em; } 
h2 { font-size: 2.7em; }
h3 { font-size: 2em; }
h4 { font-size: 1.2em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.5em; }
p { font-size: 1.25em; }

.container {
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 24px;
    color: #a7c957;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 16px;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
}

nav a:hover {
    color: #a7c957;
    text-decoration: underline;
}

nav ion-icon {
    font-size: 20px;
    margin-left: 10px;
    color: #4f772d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#inicio {
    background-color: #faf6ef; 
    background-image: url('media/inputPhone.svg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-size: 200px auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
}


#inicio .texto {
    flex-basis: 50%;
}

#inicio .texto h1 {
    font-size: 32px;
    color: #a7c957;
    margin-bottom: 10px;
}

#inicio .texto p {
    font-size: 18px;
    color: #f79824;
    margin-bottom: 20px;
}

#inicio img {
    max-width: 100%;  
    height: auto; 
}


#inicio button {
    padding: 10px 20px;
    background-color: #a7c957;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#inicio button:hover {
    background-color: #45a049;
}

.busqueda {
    display: flex; 
    border: 2px solid #fdca40; 
    border-radius: 25px; 
    overflow: hidden;
    margin-top:50px;
    max-width: 30em;
}

.busqueda input[type="text"] {
    flex-grow: 1; 
    border: none;
    padding: 0 10px;
    font-size: 16px; 
    outline: none; 
}

.busqueda button {
    background-color: #4CAF50;
    color: white; 
    cursor: pointer;
    border-radius: 25px; 
}

.busqueda button:hover {
    background-color: #45a049;
}



#tienda {
    background-color: #fff;
    padding: 20px 0; 
    display: flex;
    justify-content: center; 
}

.cardBox {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    max-width: 1200px; 
    flex-wrap: wrap; 
}

.card {
    background-color: #edede9; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 10px; 
    width: 250px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.iconBX {
    font-size: 48px; 
    color: white;
    width: 80px; 
    height: 80px; 
    background-color: #ffa500; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}

.numbers {
    font-size: 18px; 
    color: #333; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.cardName {
    font-size: 14px; 
    color: #666; 
}


footer{
    background-color: black;
}

footer  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(100,100,100);
    text-align: center;
    padding:0px;
}

footer .img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content:space-between;
}

footer .cp{
    margin: 0px 10px 10px;
}

footer .logo{
    padding: 10px 10px 0;
}



